.offers-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.offers-home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 290px;
}